<v-panel style-name="egitimbilgileri">
    <v-form-layout>
    <v-vertical-layout spacing>
        <v-combo-box style-name="combo" _id="guncelyukseklisansuniv" caption="Üniversite" input-prompt="üniversite seçiniz">
            <option>çanakkale onsekiz mart</option>
            <option>eskişehir osmangazi</option>
        </v-combo-box>
         <v-combo-box style-name="combo"_id="guncelyukseklisansfakulte" caption="Fakülte" input-prompt="Fakülte seçiniz">
             <option>mühendislik</option>
             <option>fen-edebiyat</option>
        </v-combo-box>
         <v-combo-box style-name="combo"_id="guncelyukseklisansbolum" caption="Bölüm" input-prompt="Bölüm seçiniz">
             <option>bilgisayar mühendisliği</option>
             <option>inşaat mühendisliği</option>

         </v-combo-box>
        <v-date-field style-name="combo"_id="guncelyukseklisansbaslangic" caption="başlangıç yılı"></v-date-field>
        <v-date-field style-name="combo"_id="guncelyukseklisansbitis" caption="bitiş yılı"></v-date-field>
        <v-button _id="btnyukseklisansguncelle" style-name="friendly">KAYDET</v-button>
    </v-vertical-layout>
    </v-form-layout>
</v-panel>