<v-panel height="100%" width="100%">
    <v-vertical-layout height="100%" width="100%" spacing>
        <v-grid _id="tumprojeler" size-full></v-grid>
        <v-horizontal-layout spacing >
            <v-label _id="lblyazi" ></v-label>
            <v-label style-name="lblyaziproje">Kabul edilmiş proje çıktısı için yukarıdaki onaylı projelerden birini seçiniz.</v-label>

        </v-horizontal-layout>

        <V-horizontal-layout spacing>
            <v-button _id="ozet" style-name="primary">ÇIKTI AL</v-button>
        </V-horizontal-layout>
    </v-vertical-layout>
</v-panel>
