 <v-panel style-name="egitimbilgileri">
     <v-form-layout>
     <v-vertical-layout spacing>
         <v-combo-box style-name="combo"_id="liseadi" caption="lise adı" input-prompt="lise seçiniz" set-margin>
             <option>galatasaray lisesi</option>
             <option>cağaloğlu anadolu lisesi</option>
             <option>şehremini anadolu lisesi</option>
         </v-combo-box>
         <v-date-field style-name="combo"_id="lisebaslangic" caption="başlangıç yılı"></v-date-field>
         <v-date-field style-name="combo"_id="lisebitis" caption="bitiş yılı"></v-date-field>
         <v-button _id="btnLiseKaydet" style-name="primary">Kaydet</v-button>
     </v-vertical-layout>
     </v-form-layout>
 </v-panel>