<v-panel size-full>
    <v-vertical-layout spacing margin>
        <v-text-field _id="txtAd" caption="AD"></v-text-field>
        <v-text-field _id="txtSoyad" caption="SOYAD"></v-text-field>
        <v-text-field _id="txtTc" caption="TC"></v-text-field>
        <v-horizontal-layout>
            <v-button _id="btnKisiKaydet" style-name="primary">kaydet</v-button>
            
        </v-horizontal-layout>
    </v-vertical-layout>
</v-panel>
