<v-panel style-name="egitimbilgileri">
    <v-form-layout>
    <v-vertical-layout spacing>
        <v-combo-box  style-name="combo"_id="gunceldoktorauniv" caption="Üniversite" input-prompt="üniversite seçiniz">
            <option>çanakkale onsekiz mart</option>
            <option>eskişehir osmangazi</option>
        </v-combo-box>
         <v-combo-box style-name="combo" _id="gunceldoktorafakulte" caption="Fakülte" input-prompt="Fakülte seçiniz">
             <option>mühendislik</option>
             <option>fen-edebiyat</option>
        </v-combo-box>
         <v-combo-box style-name="combo" _id="gunceldoktorabolum" caption="Bölüm" input-prompt="Bölüm seçiniz">
             <option>bilgisayar mühendisliği</option>
             <option>inşaat mühendisliği</option>
        </v-combo-box>
        <v-date-field  style-name="combo" _id="gunceldoktorabaslangic" caption="başlangıç yılı"></v-date-field>
        <v-date-field  style-name="combo" _id="gunceldoktorabitis" caption="bitiş yılı"></v-date-field>
        <v-check-box _id="devam" caption="devam ediyor"></v-check-box>
        <v-button _id="btndoktoraguncelle" style-name="friendly">KAYDET</v-button>
    </v-vertical-layout>
    </v-form-layout>
</v-panel>