
<v-vertical-layout>
    <!--
   <v-horizontal-layout>
       <v-vertical-layout spacing style-name="gorevlibaslik">
           <v-label style-name="lbl"><h3></h3>PROJE VE AKADEMİSYEN LİSTESİ</h3></v-label>
       </v-vertical-layout>
       <v-vertical-layout spacing style-name="gorevlicikis">
           <v-button _id="btn" >ÇIKIŞ</v-button>
       </v-vertical-layout>

   </v-horizontal-layout>-->
    <v-label style-name="lbl"><h3></h3>PROJE VE AKADEMİSYEN LİSTESİ</h3></v-label>
    <v-horizontal-layout spacing >
        <v-vertical-layout>
            <v-label>PROJE TÜRÜ</v-label>
            <v-horizontal-layout spacing>
                <v-combo-box _id="cbprojeturu" input-prompt="proje türü giriniz">
                    <option>TÜMÜ</option>
                    <option>AB</option>
                    <option>SAN-TEZ</option>

                </v-combo-box>
            </v-horizontal-layout>
        </v-vertical-layout>

        <v-vertical-layout>
            <v-label>ONAY DURUMU</v-label>
            <v-horizontal-layout spacing>
                <v-combo-box input-prompt="onay durumu giriniz" _id="cbonaydurumu">
                    <option>TÜMÜ</option>
                    <option>KABUL EDİLMİŞ</option>
                    <option>imza bekliyor</option>
                    <option>onaylanmış</option>
                </v-combo-box>
            </v-horizontal-layout>
        </v-vertical-layout>


        <v-vertical-layout>
            <v-label>BAŞLANGIÇ</v-label>
            <v-date-field _id="baslangic"></v-date-field>
        </v-vertical-layout>
        <v-vertical-layout>
            <v-label>BİTİŞ</v-label>
            <v-date-field _id="bitis" ><v-date-field>
        </v-vertical-layout>
        <v-vertical-layout>
            <v-label></v-label>
            <v-button _id="btnara">ARA</v-button>
        </v-vertical-layout>

    </v-horizontal-layout>
    <v-grid  _id="projeveakademisyenlistesi" style-name="anasayfagrid"></v-grid>
    <v-horizontal-layout spacing>
        <v-button _id="onayla" style-name="btnyeni">ONAYLA</v-button>
        <v-button _id="imzabekliyor" style-name="btneski">İMZA BEKLİYOR</v-button>
        <v-button _id="kabuledilmis" style-name="btndeneme">KABUL ET</v-button>
        <!-- <v-Popup-date-field  style-name="combo"_id="baslangic"></v-Popup-date-field>
         <v-Popup-date-field  style-name="combo"_id="bitis"></v-Popup-date-field>-->

        <v-button _id="raporal"style-name="friendly">RAPOR AL</v-button>
        <v-button _id="istatistik" style-name="btndeneme2"> İSTATİSTİKLER</v-button>
        <v-button _id="btn" style-name="danger" >ÇIKIŞ</v-button>
    </v-horizontal-layout>

</v-vertical-layout>

