<v-panel style-name="egitimbilgileri">
    <v-form-layout>
    <v-vertical-layout spacing>
        <v-combo-box style-name="combo" _id="guncelliseadi" caption="lise adı">
            <option>galatasaray lisesi</option>
            <option>cağaloğlu anadolu lisesi</option>
            <option>şehremini anadolu lisesi</option>
        </v-combo-box>
        <v-date-field style-name="combo"_id="guncellisebaslangic" caption="başlangıç yılı"></v-date-field>
        <v-date-field style-name="combo" _id="guncellisebitis" caption="bitiş yılı"></v-date-field>
        <v-button _id="btnliseguncelle" style-name="friendly">KAYDET</v-button>
    </v-vertical-layout>
    </v-form-layout>
</v-panel>