<v-vertical-layout width="100%" spacing >

        <v-form-layout>
                <v-vertical-layout spacing>
                        <v-text-area rows="10" cols="50" _id="txtyayin" caption="YAYIN ADI"></v-text-area>
                        <v-button _id="btnyayinguncelle" style-name="primary">Kaydet</v-button>
                </v-vertical-layout>

        </v-form-layout>
</v-vertical-layout>