<v-vertical-layout style-name="altkisim" spacing >

    <v-label style-name="lblanasayfayazi"><h1>YILLIK PROJE İSTATİSTİKLERİ</h1></v-label>

    <v-horizontal-layout spacing>
        <v-label>PROJE TÜRÜ</v-label>
        <v-combo-box _id="cbprojeturu" input-prompt="seçiniz..">
            <option>TÜMÜ</option>
            <option>AB</option>
            <option>TÜBİTAK</option>
            <option>SAN-TEZ</option>
            <option>GMK</option>
            <option>DPT</option>
        </v-combo-box>
    </v-horizontal-layout>



        <v-vertical-layout spacing style-name="altkisim">
            <v-vertical-layout  pacing style-name="altkisim">

                <v-horizontal-layout spacing>
                    <v-vertical-layout spacing width="100%"  >
                        <v-panel style-name="pnl1">
                            <v-vertical-layout spacing width="100%" >
                                <v-label style-name="lblyazi2"><h4>KABUL EDİLEN PROJE SAYISI :</h4></v-label>
                                <v-label _id="sayi1" style-name="lblyazi2"></v-label>
                            </v-vertical-layout>

                        </v-panel>

                    </v-vertical-layout>
                    <v-vertical-layout spacing width="100%"  >

                        <v-panel style-name="pnl2">
                            <v-vertical-layout spacing width="100%"  >
                                <v-label style-name="lblyazi2" ><h4>BAŞVURULAN PROJE SAYISI :</h4></v-label>
                                <v-label _id="sayi2"style-name="lblyazi2"></v-label>

                            </v-vertical-layout>
                        </v-panel>

                    </v-vertical-layout>
                    <v-vertical-layout spacing width="100%" >
                        <v-panel style-name="pnl3">
                            <v-vertical-layout spacing width="100%"   >
                                <v-label style-name="lblyazi3"><h4>BAŞARI ORANI :</h4></v-label>
                                <v-label id="sayi3" style-name="lblyazi3"></v-label>
                            </v-vertical-layout>

                        </v-panel>
                    </v-vertical-layout>
                </v-horizontal-layout>

            </v-vertical-layout>

        </v-vertical-layout>


</v-vertical-layout>


