
<v-vertical-layout>


    <!--<v-label style-name="lblproje"><h2>PROJE BAŞVURU FORMU</h2></v-label>-->

    <v-panel _id="pnlProje" >
        <v-vertical-layout>
            <v-label style-name="lbl"><h3>PROJE BİLGİLERİ</h3><hr/></v-label>


            <v-horizontal-layout>
                <v-form-layout margin>
                    <v-text-field _id="txtProjeAdi" caption="Adı : "></v-text-field>
                    <v-text-field _id="txtProjeOzeti" caption="Özeti : "></v-text-field>
                    <!--<v-text-field _id="txtProjeOzetiEng" caption="Özeti (Eng.) : "></v-text-field>-->
                    <v-combo-box _id="cbProjeTuru" caption = "Proje Türü : ">
                        <option>AB</option>
                        <option>TÜBİTAK</option>
                        <option>SAN-TEZ</option>
                        <option>GMK</option>
                        <option>DPT</option>
                    </v-combo-box>
                    <v-text-field _id="txtProjedeAlinanGorev" caption="Alınan Görev : "></v-text-field>
                    <v-combo-box _id="cbAr_geNiteligi" caption="Ar-ge Niteliği : ">
                        <option>var</option>
                        <option>yok</option>
                    </v-combo-box>
                    <v-combo-box _id="cbProjeKapsamaAlani" caption="Kapsama Alanı:">
                        <option>Ulusal</option>
                        <option>Uluslararası</option>
                    </v-combo-box>
                    <v-text-field _id="txtUlke" caption="Ülke : "></v-text-field>
                    <v-text-field _id="txtSehir" caption="Şehir : "></v-text-field>
                </v-form-layout>
                <v-vertical-layout margin >
                    <v-date-field _id="txtBaslangicTarihi" caption="Başlangıç Tarihi:"></v-date-field>
                    <v-date-field _id="txtBitisTarihi" caption="Bitiş Tarihi : "></v-date-field>
                    <v-text-field _id="txtButcesi" caption="Bütçesi : "></v-text-field>
                    <v-text-field _id="txtKurumKatkiPayi" caption="Kurum Katkı Payı:"></v-text-field>
                    <v-combo-box _id="cbParaBirimi" caption="Para Birimi : ">
                        <option>Tl</option>
                        <option>Dolar</option>
                        <option>Euro</option>
                    </v-combo-box>
                    <v-combo-box _id="cbProjePatenti" caption="Patent Durumu  : ">
                        <option>var</option>
                        <option>yok</option>
                    </v-combo-box>
                    <v-combo-box _id="cbsanayiIsbirligiDurumu" caption="Sanayi İşbirliği:">
                        <option>var</option>
                        <option>yok</option>
                    </v-combo-box>

                </v-vertical-layout>

            </v-horizontal-layout>
        </v-vertical-layout>
    </v-panel>

    <v-button _id="btncikti" style-name="friendly">ÇIKTI AL</v-button>
</v-vertical-layout>