<v-panel style-name="egitimbilgileri">
<v-vertical-layout _id="vroot">
    <v-label style-name="lbl"><h3></h3>AKADEMİSYEN LİSTESİ</h3></v-label>
<v-horizontal-layout spacing >
    <v-vertical-layout>
        <v-label>Akademisyen Adı </v-label>
        <v-horizontal-layout spacing>
            <v-text-field _id="ad"></v-text-field>
        </v-horizontal-layout>
    </v-vertical-layout>

    <v-vertical-layout>
        <v-label>Akademisyen Soyadı </v-label>
        <v-horizontal-layout spacing>
            <v-text-field _id="soyadi"></v-text-field>
        </v-horizontal-layout>
    </v-vertical-layout>

    <v-vertical-layout>
        <v-label>Akademisyen Bölümü </v-label>
        <v-horizontal-layout spacing>
            <v-combo-box _id="bolum">
                <option>Bilgisayar  Mühendisliği</option>
                <option>Gıda Mühendisliği</option>
                <option>Edebiyat</option>
                <option>Matematik</option>
                <option>Halkla İlişkiler</option>
            </v-combo-box>
        </v-horizontal-layout>
    </v-vertical-layout>
    <v-vertical-layout>
        <v-label></v-label>
        <v-button _id="ara">ARA</v-button>
    </v-vertical-layout>
</v-horizontal-layout>
    <v-grid _id="cvgrid" style-name="anasayfagrid"></v-grid>
</v-vertical-layout>
</v-panel>