<v-vertical-layout>
    <v-horizontal-layout>
        <v-vertical-layout  style-name="logo2" spacing>
            <v-label><img src="../VAADIN/themes/cTheme/Img/sonbaslik.png" /></v-label>
        </v-vertical-layout>
        <v-vertical-layout spacing style-name="btnanasayfadon">
            <v-button _id="don">Ana Sayfaya Dön</v-button>
        </v-vertical-layout>
    </v-horizontal-layout>

    <!--<v-label style-name="lblproje"><h2>PROJE BAŞVURU FORMU</h2></v-label>-->
    <v-panel _id="pnlKisi">
        <v-vertical-layout>
            <v-label style-name="lbl"><h3>KİŞİSEL BİLGİLER</h3><hr/></v-label>

            <v-horizontal-layout>
                <v-form-layout margin>
                    <v-text-field _id="txtAdi" caption="Adı : "></v-text-field>
                    <v-text-field _id="txtSoyadi" caption="Soyadı : "></v-text-field>
                    <v-text-field _id="txtTC" caption="TC Kimlik No: "></v-text-field>
                    <v-text-field _id="txtBirim" caption="Birim : "></v-text-field>
                    <v-text-field _id="txtBolum" caption="Bölüm : "></v-text-field>
                </v-form-layout>
                <v-horizontal-layout>
                    <v-form-layout margin>
                        <v-text-field _id="txtAnaBilimDali" caption="Ana Bilim Dalı : "></v-text-field>
                        <v-text-field _id="txtKadroUnvani" caption="Kadro Ünvanı : "></v-text-field>
                        <v-text-field _id="txtEposta" caption="E Posta : "></v-text-field>
                        <v-text-field _id="txtCepTel" caption="Cep Telefonu : "></v-text-field>
                        <v-text-field _id="txtIsTel" caption="İş Telefonu : "></v-text-field>
                    </v-form-layout>
                </v-horizontal-layout>
            </v-horizontal-layout>
        </v-vertical-layout>
    </v-panel>
    <v-panel _id="pnlProje" >
        <v-vertical-layout>
            <v-label style-name="lbl"><h3>PROJE BİLGİLERİ</h3><hr/></v-label>

            <v-horizontal-layout>
                <v-form-layout margin>
                    <v-text-field _id="txtProjeAdi" caption="Adı : "></v-text-field>
                    <v-text-field _id="txtProjeOzeti" caption="Özeti : "></v-text-field>
                    <!--<v-text-field _id="txtProjeOzetiEng" caption="Özeti (Eng.) : "></v-text-field>-->
                    <v-combo-box _id="cbProjeTuru" caption = "Proje Türü : ">
                        <option>AB</option>
                        <option>TÜBİTAK</option>
                        <option>SAN-TEZ</option>
                        <option>GMK</option>
                        <option>DPT</option>
                    </v-combo-box>
                    <v-combo-box _id="projeekibi" caption="Proje Ekibi :">
                        <option>
                            var
                        </option>
                        <option>
                            yok
                        </option>
                    </v-combo-box>
                    <v-combo-box _id="txtProjedeAlinanGorev" caption="Alınan Görev : ">
                        <option>
                            yürütücü
                        </option>
                        <option>
                            koordinatör
                        </option>
                        <option>
                            araştırmacı
                        </option>
                        <option>
                            bursiyer
                        </option>
                    </v-combo-box>
                    <v-combo-box _id="cbAr_geNiteligi" caption="Ar-ge Niteliği : ">
                        <option>var</option>
                        <option>yok</option>
                    </v-combo-box>
                    <v-combo-box _id="cbProjeKapsamaAlani" caption="Kapsama Alanı:">
                        <option>Ulusal</option>
                        <option>Uluslararası</option>
                    </v-combo-box>
                    <v-text-field _id="txtUlke" caption="Ülke : "></v-text-field>
                    <v-text-field _id="txtSehir" caption="Şehir : "></v-text-field>
                </v-form-layout>
                <v-vertical-layout margin >
                    <v-date-field _id="txtBaslangicTarihi" caption="Başlangıç Tarihi:"></v-date-field>
                    <v-date-field _id="txtBitisTarihi" caption="Bitiş Tarihi : "></v-date-field>
                    <v-text-field _id="txtButcesi" caption="Bütçesi : "></v-text-field>
                    <v-text-field _id="txtKurumKatkiPayi" caption="Kurum Katkı Payı:"></v-text-field>
                    <v-combo-box _id="cbParaBirimi" caption="Para Birimi : ">
                        <option>Tl</option>
                        <option>Dolar</option>
                        <option>Euro</option>
                    </v-combo-box>
                    <v-combo-box _id="cbProjePatenti" caption="Patent Durumu  : ">
                        <option>var</option>
                        <option>yok</option>
                    </v-combo-box>
                    <v-combo-box _id="cbsanayiIsbirligiDurumu" caption="Sanayi İşbirliği:">
                        <option>var</option>
                        <option>yok</option>
                    </v-combo-box>

                </v-vertical-layout>

            </v-horizontal-layout>
        </v-vertical-layout>
    </v-panel>
    <v-panel _id="pnlPatent" >
        <v-vertical-layout>
            <v-label style-name="lbl"><h3>PATENT BİLGİLERİ</h3><hr/></v-label>

            <v-horizontal-layout>
                <v-form-layout margin>
                    <v-text-field _id="txtPatentAdi" caption="Patent Adı : "></v-text-field>
                    <v-text-field _id="txtPatentKodu" caption="Patent Kodu: "></v-text-field>
                    <v-combo-box _id="cbPatentKapsami" caption="Patent Kapsamı : ">
                        <option>Ulusal</option>
                        <option>Uluslararası</option>
                    </v-combo-box>
                    <v-date-field _id="txtPatentYili" caption="Patent Yılı : "></v-date-field>

                </v-form-layout>
            </v-horizontal-layout>
        </v-vertical-layout>
    </v-panel>

    <v-panel _id="pnlSanayi">

        <v-vertical-layout>
            <v-label style-name="lbl"><h3>FİRMA BİLGİLERİ</h3><hr/></v-label>
            <v-horizontal-layout>
                <v-form-layout margin>
                    <v-text-field _id="txtFirmaAdi" caption="Firma Adı : "></v-text-field>
                    <v-text-field _id="txtSagladigiFon" caption="Sağladığı Fon : "></v-text-field>
                    <v-combo-box _id="cbFirmaParaBirimi" caption="Firma Para Birimi : ">
                        <option>Tl</option>
                        <option>Dolar</option>
                        <option>Euro</option>
                    </v-combo-box>
                </v-form-layout>
            </v-horizontal-layout>

        </v-vertical-layout>
    </v-panel>

    <v-panel _id="pnlekip" >
        <v-vertical-layout>
            <v-label style-name="lbl"><h3>PROJE EKİBİ</h3></v-label>

            <v-vertical-layout spacing>

                <v-horizontal-layout spacing>
                    <v-grid _id="grdgorevliakademisyen" size-full></v-grid>
                    <v-vertical-layout spacing>
                        <v-text-field _id="txtTcgorevli" caption="tc giriniz:"></v-text-field>
                        <v-combo-box _id="cbgorev" caption="görev seçiniz" >
                            <option>yürütücü</option>
                            <option>araştırmacı</option>
                            <option>bursiyer</option>
                            <option>koordinatör</option>
                        </v-combo-box>
                        <v-horizontal-layout spacing >
                            <v-button _id="btnekle">ekle</v-button>
                            <v-button _id="btncikar">çıkar</v-button>
                        </v-horizontal-layout>

                    </v-vertical-layout>
                </v-horizontal-layout>
            </v-vertical-layout>
        </v-vertical-layout>

    </v-panel>
    <v-horizontal-layout>


        <v-vertical-layout >
            <v-button _id="btnKaydet" style-name="friendly">Kaydet</v-button>
        </v-vertical-layout>

        <v-vertical-layout spacing style-name="btnanasayfadon2">
            <v-button _id="don2">Ana Sayfaya Dön</v-button>
        </v-vertical-layout>
    </v-horizontal-layout>

</v-vertical-layout>