<v-panel style-name="altkisim">

    <v-vertical-layout style-name="altkisim" spacing>
        <v-grid _id="tumyayinlar"></v-grid>
        <v-label style-name="lbl"><h3>KİTAPLAR</h3><hr/></v-label>
        <v-grid _id="kitaplar" ></v-grid>
        <v-label style-name="lbl"><h3>MAKALELER</h3><hr/></v-label>
        <v-grid _id="makaleler" ></v-grid>
        <V-horizontal-layout spacing>
            <v-button _id="btnyayinguncelle" style-name="friendly">YAYIN GÜNCELLE</v-button>
            <v-button _id="btnyayinsil" style-name="danger">YAYIN SİL</v-button>
            <v-button _id="kaydetyayin" style-name="primary">YAYIN EKLE </v-button>
            <v-text-field _id="ara" ></v-text-field>
            <v-button _id="btnara">ARA</v-button>
        </V-horizontal-layout>
    </v-vertical-layout>
</v-panel>
