<v-panel style-name="egitimbilgileri">
    <v-form-layout>
    <v-vertical-layout spacing>
        <v-text-area rows="10" cols="50" _id="txtyayin" caption="YAYIN ADI"></v-text-area>
        <v-button _id="btnyayinkaydet" style-name="primary">Kaydet</v-button>

    </v-vertical-layout>
    </v-form-layout>&
</v-panel>
