<v-panel height="100%" width="100%">
    <v-vertical-layout height="100%" width="100%" spacing>
        <v-grid _id="tumprojeler" size-full></v-grid>
        <V-horizontal-layout spacing>


            <v-button _id="yeniform" style-name="primary">YENİ BAŞVURU FORMU DOLDUR</v-button>
            <v-button _id="eskibilgi" style-name="btnyeni">ESKİ PROJELERİ EKLE</v-button>
            <v-button _id="ozet" style-name="btneski">BAŞVURU ÖZETİ</v-button>
            <v-button _id="formguncelle" style-name="friendly">BAŞVURU BİLGİLERİ GÜNCELLE</v-button>
            <v-button _id="formsil" style-name="danger">BAŞVURU SİL</v-button>

        </V-horizontal-layout>
        <v-vertical-layout >
            <v-label style-name="lblyaziproje">Proje Başvurunuzun çıktısını almak için proje seçip, "BAŞVURU ÖZETİ" ne tıklayınız...</v-label>

        </v-vertical-layout>
    </v-vertical-layout>
</v-panel>
