                            
<v-panel style-name="egitimbilgileri">
    <v-form-layout>
    <v-vertical-layout spacing>
        <v-combo-box style-name="combo"_id="yukseklisansuniv"caption="üniversite adı" input-prompt="üniversite seçiniz">
            <option>çanakkale onsekiz mart</option>
            <option>eskişehir osmangazi</option>
        </v-combo-box>
        <v-combo-box style-name="combo"_id="yukseklisansfakulte" caption="fakülte adı" input-prompt="fakülte seçiniz ">
            <option>mühendislik</option>
            <option>fen-edebiyat</option>
        </v-combo-box>
        <v-combo-box style-name="combo"_id="yukseklisansbolum" caption="bölüm adı" input-prompt="bölüm seçiniz ">
            <option>bilgisayar mühendisliği</option>
            <option>inşaat mühendisliği</option>
        </v-combo-box>
        <v-date-field style-name="combo"_id="yukseklisansbaslangic"caption="başlangıç yılı"></v-date-field>
        <v-date-field style-name="combo"_id="yukseklisansbitis"caption="bitiş yılı"></v-date-field>
        <v-button _id="btnYuksekLisansKaydet" style-name="primary">Kaydet</v-button>
                               
                                
    </v-vertical-layout>
    </v-form-layout>
</v-panel>