<v-vertical-layout spacing height="100%">

    <v-label style-name="lbl"><h3>YAYIN BİLGİSİ EKLEME</h3><hr/></v-label>
 <v-vertical-layout spacing >

     <v-horizontal-layout spacing>

                <v-check-box _id="ulusal" caption="ulusal"></v-check-box>
                <v-check-box _id="uluslararasi" caption="uluslararası"></v-check-box>

                <v-label>Yayın Türü :</v-label>
                <v-combo-box _id="yayinturu"  input-prompt="seçiniz...">
                    <option>kitap</option>
                    <option>dergide makale</option>
                    <option>kitapta bölüm</option>
                    <option>bildiri</option>
                    <option>ansiklopedide konu</option>
                    <option>diğer yayınlar</option>
                </v-combo-box>
     </v-horizontal-layout>
 </v-vertical-layout>

     <v-panel _id="pnlkitap">
         <v-vertical-layout>
             <v-label style-name="lbl"><h3>KİTAP BİLGİLERİ</h3><hr/></v-label>
             <v-horizontal-layout>
                 <v-form-layout margin>
                     <v-combo-box _id="kdil" caption ="kitabın dili">
                         <option>türkçe</option>
                     </v-combo-box>
                     <v-combo-box _id="ktur" caption="kitabın türü">
<option>roman</option>
                     </v-combo-box>
                     <v-combo-box id="kkonu" caption="kitabın konusu">
                         <option>mühendislik</option>
                     </v-combo-box>
                     <v-combo-box _id="krol" caption ="rolünüz">
                         <option>yazar</option>
                     </v-combo-box>
                     <v-text-field _id="kyayinevi" caption ="yayın evi"></v-text-field>
                     <v-combo-box _id="kyayinevigrup" caption ="yayın evi grubu">
                         <option>tanınmış ulusal</option>
                     </v-combo-box>
                     <v-text-field _id="kbaslik" caption ="kitabın başlığı"></v-text-field>
                     <v-date-field _id="kbasim" caption="basım tarihi" ></v-date-field>
                     <v-combo-box  _id="kbaski"caption="baskı sayısı">
                         <option>1</option>
                     </v-combo-box>
                     <v-date-field _id="ksonbaski" caption="son baskı tarihi"></v-date-field>
                     <v-text-field _id="ksayfa" caption="sayfa sayısı"></v-text-field>
                     <v-text-field _id="kisbn" caption="isbn"></v-text-field>
                     <v-text-field _id="kulke" caption="basıldığı ülke"></v-text-field>
                     <v-text-field _id="ksehir" caption="basıldığı şehir"></v-text-field>
                     <v-text-field _id="kdoi" caption="doi numarası"></v-text-field>
                     <v-text-field _id="klink" caption="kitap/yayın evi linki"></v-text-field>
                 </v-form-layout>
             </v-horizontal-layout>
         </v-vertical-layout>
     </v-panel>

     <v-panel _id="pnlmakale1">

         <v-vertical-layout>
             <v-label style-name="lbl"><h3>DERGİDE MAKALE BİLGİLERİ</h3><hr/></v-label>

             <v-vertical-layout>
                 <v-form-layout margin>

                     <v-combo-box _id="dtur" caption ="derginin türü">
                         <option>bilimsel</option>
                     </v-combo-box>
                     <v-combo-box _id="mtur" caption="makalenin türü">
                         <option>bilimsel</option>
                     </v-combo-box>
                     <v-combo-box id="mkonu" caption="makalenin konusu">
                         <option>mühendislik</option>
                     </v-combo-box>
                     <v-combo-box _id="mdil" caption ="makalenin dili">
                         <option>türçe</option>
                     </v-combo-box>
                 <!--
                         <v-label >özel sayı: </v-label>
                 <v-horizontal-layout spacing margin>
                        <v-check-box _id="oevet" caption="evet"></v-check-box>
                         <v-check-box _id="ohayir" caption="hayır"></v-check-box>
                     </v-horizontal-layout>

                 <v-label >Dergi ISI dışındaki indexlere giriyor mu ?: </v-label>
                 <v-horizontal-layout spacing margin>
                     <v-check-box _id="ievet" caption="evet"></v-check-box>
                         <v-check-box _id="ihayir" caption="hayır"></v-check-box>
                     </v-horizontal-layout>

                     <v-label>sayfalar:</v-label>
                 <v-horizontal-layout spacing margin>
                     <v-text-field _id="birinci"></v-text-field>
                     <v-label>-</v-label>
                     <v-text-field _id="ikinci"></v-text-field>
                 </v-horizontal-layout>-->


                     <v-text-field _id="dadi" caption ="derginin adı"></v-text-field>
                     <v-text-field _id="mbaslik" caption ="makalenin başlığı"></v-text-field>
                     <v-combo-box _id="btur" caption ="basım türü">
                         <option>basılı</option>
                     </v-combo-box>
                     <v-date-field _id="btarih" caption="basım tarihi" ></v-date-field>
                     <v-text-field _id="cilt" caption="cilt"></v-text-field>
                     <v-text-field _id="sayi" caption="sayı"></v-text-field>
                     <v-text-field _id="no" caption="no"></v-text-field>
                     <v-text-field _id="mdoi" caption="doi numarası"></v-text-field>
                     <v-text-field _id="mlink" caption="makalenin linki"></v-text-field>
                 </v-form-layout>
             </v-vertical-layout>
         </v-vertical-layout>
     </v-panel>

     <v-panel _id="pnlbildiri">

         <v-vertical-layout>
             <v-label style-name="lbl"><h3>BİLDİRİ BİLGİLERİ</h3><hr/></v-label>

             <v-horizontal-layout>
                 <v-form-layout margin>
                     <v-text-field ></v-text-field>
                     <v-text-field ></v-text-field>
                     <v-combo-box >

                     </v-combo-box>
                     <v-date-field ></v-date-field>

                 </v-form-layout>
             </v-horizontal-layout>
         </v-vertical-layout>
     </v-panel>

     <v-panel _id="pnlkitaptabolum">

         <v-vertical-layout>
             <v-label style-name="lbl"><h3>KİTAPTA BÖLÜM BİLGİLERİ</h3><hr/></v-label>

             <v-horizontal-layout>
                 <v-form-layout margin>
                     <v-text-field ></v-text-field>
                     <v-text-field ></v-text-field>
                     <v-combo-box >

                     </v-combo-box>
                     <v-date-field ></v-date-field>

                 </v-form-layout>
             </v-horizontal-layout>
         </v-vertical-layout>
     </v-panel>

    <v-vertical-layout >
        <v-button  _id="btnkaydet" style-name="friendly">Kaydet</v-button>
    </v-vertical-layout>

</v-vertical-layout>