<v-panel caption="EĞİTİM BİLGİLERİ FORMU" style-name="egitimbilgileri">
    <v-vertical-layout _id="vRoot" spacing>

            <v-horizontal-layout>
                <v-label style-name="lbl"><h3>LİSE BİLGİSİ</h3><hr/></v-label>
                <v-button _id="kaydetlise" style-name="btnkaydet">yeni ekle</v-button>
                <v-button _id="guncellelise" style-name="btnguncelle">guncelle</v-button>
                <v-button _id="sillise" style-name="btnsil">sil</v-button>
            </v-horizontal-layout>
            <v-grid _id="lisebilgisi"></v-grid>
            <v-horizontal-layout>
                <v-label  style-name="lbl"><h3>LİSANS BİLGİSİ</h3><hr/></v-label>
                <v-button _id="kaydetlisans" style-name="btnkaydet">yeni ekle</v-button>
                <v-button _id="guncellelisans" style-name="btnguncelle">guncelle</v-button>
                <v-button _id="sillisans" style-name="btnsil">sil</v-button>
            </v-horizontal-layout>
        <v-grid _id="lisansbilgisi"></v-grid>
        <v-horizontal-layout>
            <v-label  style-name="lbl"><h3>YÜKSEK LİSANS BİLGİSİ</h3><hr/></v-label>
            <v-button _id="kaydetyukseklisans" style-name="btnkaydet">yeni ekle</v-button>
            <v-button _id="guncelleyukseklisans" style-name="btnguncelle">guncelle</v-button>
            <v-button _id="silyuksek" style-name="btnsil">sil</v-button>
        </v-horizontal-layout>
        <v-grid _id="yükseklisansbilgisi"></v-grid>
        <v-horizontal-layout>
            <v-label  style-name="lbl"><h3>DOKTORA BİLGİSİ</h3><hr/></v-label>
            <v-button _id="kaydetdoktora" style-name="btnkaydet">yeni ekle</v-button>
            <v-button _id="guncelledoktora" style-name="btnguncelle">guncelle</v-button>
            <v-button _id="sildoktora" style-name="btnsil">sil</v-button>
        </v-horizontal-layout>
        <v-grid _id="doktorabilgisi"></v-grid>

    </v-vertical-layout>


</v-panel>


<!--
<v-panel  caption="EĞİTİM BİLGİLERİ FORMU" style-name="egitimbilgileri">
    <v-horizontal-layout  spacing>
        <v-form-layout margin>
            <v-vertical-layout spacing>
                <v-horizontal-layout spacing>
                <v-label>LİSE BİLGİSİ</v-label>
                <v-button _id="kaydetlise" style-name="primary">LİSE KAYDET </v-button>
                <v-button _id="guncellelise" style-name="friendly">LİSE GÜNCELLE</v-button>
                </v-horizontal-layout>
                <v-horizontal-layout spacing>
                <v-label>LİSANS BİLGİSİ</v-label>
                <v-button _id="kaydetlisans" style-name="primary">LİSANS KAYDET </v-button>
                <v-button _id="guncellelisans" style-name="friendly">LİSANS GÜNCELLE</v-button>
                </v-horizontal-layout>
                <v-horizontal-layout spacing>
                <v-label>YÜKSEK LİSANS BİLGİSİ</v-label>
                <v-button _id="kaydetyukseklisans" style-name="primary">YUKSEK LİSANS KAYDET </v-button>
                <v-button _id="guncelleyukseklisans" style-name="friendly">YUKSEK LİSANS GÜNCELLE</v-button>
                </v-horizontal-layout>
                <v-horizontal-layout spacing>
                <v-label>DOKTORA BİLGİSİ</v-label>
                <v-button _id="kaydetdoktora" style-name="primary">DOKTORA KAYDET </v-button>
                <v-button _id="guncelledoktora" style-name="friendly">DOKTORA GÜNCELLE</v-button>
                </v-horizontal-layout>
                <v-horizontal-layout spacing>
                <v-label>YAYIN BİLGİSİ</v-label>
                <v-button _id="kaydetyayin" style-name="primary">YAYIN EKLE </v-button>  
                 
                </v-horizontal-layout>
                <v-horizontal-layout>
                    <v-button _id="btntumyayinlarim">YAYINLARIM</v-button>

                </v-horizontal-layout>

            </v-vertical-layout>
        </v-form-layout>
    </v-horizontal-layout>

</v-panel>
-->