<v-vertical-layout>
        <v-vertical-layout  style-name="logo">
            <v-label ><img src="../VAADIN/themes/cTheme/Img/logooo.png" /></v-label>
        </v-vertical-layout>
        <v-vertical-layout>
            <!--<v-label style-name="lbl" ><h2> AKADEMİK CV VE PROJE BAŞVURU SİSTEMİ</h2></v-label>-->
        </v-vertical-layout>
        <v-vertical-layout style-name="loginPanel" spacing margin >
            <v-horizontal-layout spacing margin>
                <v-text-field _id="txtTc" caption="Tc"/>
                <v-password-field _id="txtPass" caption="Şifre"/>

            </v-horizontal-layout>
            <v-button _id="btnLogin"  style-name="primary">Giriş</v-button>

        </v-vertical-layout>
    </v-vertical-layout>
