<v-panel style-name="egitimbilgileri">
    <v-form-layout>
    <v-vertical-layout spacing>
                                <v-combo-box style-name="combo" _id="doktorauniv"caption="üniversite adı" input-prompt="üniversite seçiniz">
                                    <option>çanakkale onsekiz mart</option>
                                    <option>eskişehir osmangazi</option>
                                </v-combo-box>
                                <v-combo-box style-name="combo" _id="doktorafakulte" caption="fakülte adı" input-prompt="fakülte seçiniz ">
                                    <option>mühendislik</option>
                                    <option>fen-edebiyat</option>
                                </v-combo-box>
                                <v-combo-box style-name="combo" _id="doktorabolum" caption="bölüm adı" input-prompt="bölüm seçiniz ">
                                    <option>bilgisayar mühendisliği</option>
                                    <option>inşaat mühendisliği</option>
                                </v-combo-box>
                                <v-date-field style-name="combo" _id="doktorabaslangic" caption="başlangıç yılı"></v-date-field>
                                <v-date-field  style-name="combo" _id="doktorabitis"caption="bitiş yılı"></v-date-field>
                                <v-check-box _id="devam" caption="devam ediyor"></v-check-box>
                                <v-button _id="btnDoktoraKaydet" style-name="primary">Kaydet</v-button>
                                
    </v-vertical-layout>
    </v-form-layout>
</v-panel>