<v-vertical-layout width="100%">

    <v-vertical-layout >
        <v-label  style-name="labelanasayfa"><img src="../VAADIN/themes/cTheme/Img/anasayfabaslik.png" /></v-label>

    </v-vertical-layout>
    <v-vertical-layout >

        <v-menu-bar _id="barmenu"></v-menu-bar>
    </v-vertical-layout>
    <v-vertical-layout >

        <v-panel _id="panel2" >

            <v-vertical-layout style-name="altkisim">
                <v-vertical-layout style-name="altkisim">
                    <v-label style-name="lblanasayfayazi"><h1>YILLIK PROJE DAĞILIMI</h1></v-label>

                    <v-horizontal-layout spacing>
                        <v-vertical-layout width="100%"  >
                            <v-panel style-name="pnl1">
                                <v-vertical-layout width="100%" >
                                    <v-label style-name="lblyazi2"><h4>KABUL EDİLEN PROJE SAYISI :</h4></v-label>
                                    <v-label _id="sayi1" style-name="lblyazi2"></v-label>
                                </v-vertical-layout>

                            </v-panel>

                        </v-vertical-layout>
                        <v-vertical-layout width="100%"  >

                            <v-panel style-name="pnl2">
                                <v-vertical-layout width="100%"  >
                                    <v-label style-name="lblyazi2" ><h4>BAŞVURULAN PROJE SAYISI :</h4></v-label>
                                    <v-label _id="sayi2"style-name="lblyazi2"></v-label>

                                </v-vertical-layout>
                            </v-panel>

                        </v-vertical-layout>
                        <v-vertical-layout width="100%" >
                            <v-panel style-name="pnl3">
                                <v-vertical-layout width="100%"   >
                                    <v-label style-name="lblyazi3"><h4>BAŞARI ORANI :</h4></v-label>
                                    <v-label id="sayi3" style-name="lblyazi3"></v-label>
                                </v-vertical-layout>

                            </v-panel>
                        </v-vertical-layout>
                    </v-horizontal-layout>

                </v-vertical-layout>

            </v-vertical-layout>

        </v-panel>
    </v-vertical-layout>




    <!-- <v-panel style-name="altpanel" _id="panel2">-->


    <!--  <v-label style-name="lblanasayfaarkaplan" _id="lbl"><img src="../VAADIN/themes/cTheme/Img/anasayfaarkaplan.png" /></v-label>
      -->



</v-vertical-layout>






