<v-vertical-layout spacing>
    <v-label style-name="lbl"><h3>EĞİTİM BİLGİLERİ</h3><hr/></v-label>
    <v-horizontal-layout>
        <v-form-layout _id="v1" spacing>
        <v-label ><h4>LİSE BİLGİSİ</h4></v-label>
        <v-vertical-layout  spacing>
            <v-horizontal-layout  spacing>
                <v-label style-name="lblyazi2">Lise Adı : </v-label>
                <v-label style-name="lblsiyah" _id="liseadi"></v-label>
            </v-horizontal-layout>
           <v-horizontal-layout spacing>
               <v-label style-name="lblyazi2">Başlangıç Tarihi : </v-label>
               <v-label style-name="lblsiyah" _id="lisebaslangic"></v-label>
           </v-horizontal-layout>
            <v-horizontal-layout spacing>
                <v-label style-name="lblyazi2">Bitiş Tarihi : </v-label>
                <v-label style-name="lblsiyah"  _id="lisebitis" ></v-label>
            </v-horizontal-layout>

        </v-vertical-layout>
    </v-form-layout>
        <v-form-layout _id="v2" spacing>
        <v-label ><h4>LİSANS BİLGİSİ</h4></v-label>
        <v-vertical-layout  spacing>
            <v-horizontal-layout spacing>
                <v-label style-name="lblyazi2"> Üniversite : </v-label>
                <v-label style-name="lblsiyah" _id="univ"></v-label>
            </v-horizontal-layout>
            <v-horizontal-layout spacing>
                <v-label style-name="lblyazi2">Fakülte : </v-label>
                <v-label style-name="lblsiyah" _id="fakulte"></v-label>
            </v-horizontal-layout>
            <v-horizontal-layout spacing>
                <v-label style-name="lblyazi2">Bölüm : </v-label>
                <v-label style-name="lblsiyah" _id="bolum" ></v-label>
            </v-horizontal-layout>
            <v-horizontal-layout spacing>
                <v-label style-name="lblyazi2">Başlangıç Tarihi : </v-label>
                <v-label style-name="lblsiyah" _id="baslangicuniv" ></v-label>
            </v-horizontal-layout>
            <v-horizontal-layout spacing>
                <v-label style-name="lblyazi2">Bitiş Tarihi : </v-label>
                <v-label style-name="lblsiyah" _id="bitisuniv" ></v-label>
            </v-horizontal-layout>


        </v-vertical-layout>
    </v-form-layout>
        <v-form-layout  _id="v3" spacing>
            <v-label ><h4>YÜKSEK LİSANS BİLGİSİ</h4></v-label>
            <v-vertical-layout spacing>
                <v-horizontal-layout spacing>
                    <v-label style-name="lblyazi2"> Üniversite : </v-label>
                    <v-label style-name="lblsiyah" _id="yuksekuniv"></v-label>
                </v-horizontal-layout>
                <v-horizontal-layout spacing>
                    <v-label style-name="lblyazi2">Fakülte : </v-label>
                    <v-label style-name="lblsiyah" _id="yuksekfakulte"></v-label>
                </v-horizontal-layout>
                <v-horizontal-layout spacing>
                    <v-label style-name="lblyazi2">Bölüm : </v-label>
                    <v-label style-name="lblsiyah" _id="yuksekbolum" ></v-label>
                </v-horizontal-layout>
                <v-horizontal-layout spacing>
                    <v-label style-name="lblyazi2">Başlangıç Tarihi : </v-label>
                    <v-label style-name="lblsiyah" _id="yuksekbaslangic" ></v-label>
                </v-horizontal-layout>
                <v-horizontal-layout spacing>
                    <v-label style-name="lblyazi2">Bitiş Tarihi : </v-label>
                    <v-label style-name="lblsiyah" _id="yuksekbitis" ></v-label>
                </v-horizontal-layout>


            </v-vertical-layout>
        </v-form-layout>
        <v-form-layout  _id="v4"  spacing>
            <v-label ><h4>DOKTORA BİLGİSİ</h4></v-label>
            <v-vertical-layout spacing>
                <v-horizontal-layout spacing>
                    <v-label style-name="lblyazi2"> Üniversite : </v-label>
                    <v-label style-name="lblsiyah"  _id="doktorauniv"></v-label>
                </v-horizontal-layout>
                <v-horizontal-layout spacing>
                    <v-label style-name="lblyazi2">Fakülte : </v-label>
                    <v-label style-name="lblsiyah" _id="doktorafakulte"></v-label>
                </v-horizontal-layout>
                <v-horizontal-layout spacing>
                    <v-label style-name="lblyazi2">Bölüm : </v-label>
                    <v-label style-name="lblsiyah" _id="doktorabolum" ></v-label>
                </v-horizontal-layout>
                <v-horizontal-layout spacing>
                    <v-label style-name="lblyazi2">Başlangıç Tarihi : </v-label>
                    <v-label style-name="lblsiyah" _id="doktorabaslangic" ></v-label>
                </v-horizontal-layout>
                <v-horizontal-layout spacing>
                    <v-label style-name="lblyazi2">Bitiş Tarihi : </v-label>
                    <v-label style-name="lblsiyah" _id="doktorabitis" ></v-label>
                </v-horizontal-layout>


            </v-vertical-layout>
        </v-form-layout>
    </v-horizontal-layout>
    <v-label style-name="lbl"><h3>YAYIN BİLGİLERİ</h3><hr/></v-label>

    <v-grid _id="yayin"></v-grid>
    <v-grid _id="yayin2"></v-grid>

    <v-label style-name="lbl"><h3>PROJE BİLGİLERİ</h3><hr/></v-label>

    <v-grid _id="proje"></v-grid>


</v-vertical-layout>
    <!--
    <v-grid _id="lisebilgisi"></v-grid>
    <v-label><h4>LİSANS BİLGİSİ</h4></v-label>
    <v-grid _id="lisansbilgisi"></v-grid>
    <v-label ><h4>YÜKSEK LİSANS BİLGİSİ</h4></v-label>
    <v-grid _id="yükseklisansbilgisi"></v-grid>
    <v-label ><h4>DOKTORA BİLGİSİ</h4></v-label>
    <v-grid _id="doktorabilgisi"></v-grid>-->
