@import "../valo/valo.scss";
@import "common";

@mixin cTheme {
  @include valo;
  @include cTheme-common;



    .altkisim{
            height:620px !important;
            widht:100% !important;
    }
     .pnlyayin{
                height:1000px !important;
                widht:100% !important;
        }



  .v-verticallayout.v-layout.v-vertical.v-widget.v-has-width{
  width:100%;
  }




  .v-menubar-menuitem{
        width:20%;
  }


  .v-menubar.v-widget{
      width:100%;
  }
 .altpanel{
    border: 0px solid rgb(34,53,76);
    width: 100% !important;
    height: 200% !important


  }

  .egitimbilgileri{
          width: 100%;
          height:100%;
          font-family:verdana;
          background-image: none;

      }

      .baslikproje{
          background-image: url("../VAADIN/themes/cTheme/Img/logooo.png");
      }

        .v-textarea{
               width:350px;
               height:200px;
        }


      .combo{
            width: 250px !important;

      }


      .v-grid.v-widget.v-has-width{
            height:130px !important;
      }


      .anasayfagrid.v-grid.v-widget.v-has-width{
            height:350px !important;
            margin-top:2%;

      }
     .v-menubar-submenu{

       width:300%;
       }




         .logo{
                margin-left: 1%;
                margin-top: 0%;

            }

            .logo2{
                margin-left:13%;
                margin-top:5%;
            }
            .logo3{
                margin-top:3%;
                margin-left:2%;
            }

            .logo4{
                margin-left:15%;
                margin-top:15%;
            }

             .loginPanel{
                    margin-top: 0%;
                    margin-left: 12%;
                    width: 80% !important;
                    height: 50% !important;
                    border: 1px solid #000066;
                    padding: 3%;


                }
                .gorevlibaslik{
                    margin-left:200%;


                }
               .btnlogin{
                        margin-left:72%;

               }
               .projevertical{
                    margin-left:27%;



               }
               .gorevlicikis{
                    margin-left:1500%;
                    margin-top:15%;
               }


               .btnanasayfadon{
                    margin-left:80%;
                    margin-top:15%;
               }
               .btnanasayfadon2{
                 margin-left:340%;
                 margin-top:1%;
               }
               .lblproje{
                    margin-left:5%;
                    text-align:center;
                     font-weight:bold;
                     color:black;
                     margin-top:8%;
                    font-family:verdana;

               }
               .lblyaziproje{
                    font-weight:bold;
                    color:#FF8000;
                    font-family:verdana;
                    margin-top:1%;
                    margin-bottom:2%;
               }
               .baslıkpanel{
                    margin-top: 0%;
                    margin-left: 12%;
                    width: 80% !important;
                    height: 20% !important;
                    border: 4px solid #000066;
                    padding: 3%;
               }



      .mygrid.v-widget.v-has-width.v-has-height{
            height:200px !important;
      }



      .btnsil{
        color:#CC0000;
      }

      .v-panel-caption{
              text-align:center;
              color: #000066;
              padding: 2%;
              font-weight: bold;
              font-size: 20px;
              font-family:verdana;

       }
       .pnlanasayfa.v-panel-caption{
            text-align:center;
            color: #000066;
            padding: 2%;
            font-weight: bold;
            font-size: 20px;
            font-family:verdana;
       }

       .verticallogin{
        margin-left:27%;
        margin-top:5%;
       }


       .v-window-header{
               font-weight: bold;
               color:black;
               margin-bottom: 2%;
               margin-top:2%;
               margin-left:27%;
               font-family:verdana;

           }
  .v-grid-header{
    font-weight: bold;
    font-family:verdana;
   }



  hr {
    border:50;
    width:600px;


  }

.btn{
    width:100%;
    margin-top:1%;

}
  .lbl{
    text-align:center;
    font-weight:bold;
    color:black;
    font-family:verdana;

  }
  .lblyazi2{

      font-weight:bold;
      font-family:verdana;


  }
   .lblyazi3{

        font-weight:bold;
        font-family:verdana;


    }



  h3{
    color:#CC0000 !important;
    font-weight:bold;
    font-family:verdana;

  }
  h4{
  color:black !important;
      font-weight:bold;
      font-family:verdana;
  }
  .btnkaydet{
    color:#000066;

  }
   .btnguncelle{
      color:#009900;
    }
    .btnyeni.v-button{
     color: white;
     border-color:#ff36eb !important;
     background-image: none !important;
     background-color:#ff36eb  !important;



    }
    .btneski.v-button{
     color: white;
     border-color:#ffb94f  !important;
     background-image: none !important;
     background-color:#ffb94f  !important;


    }



.h1{
    font-weight:bold;
     font-family:verdana;


   }
   .lblanasayfayazi{
        text-align:center;
        font-family:verdana;

   }
   .v-Notification{
   font-family:verdana;
   }


   .v-panel-content-pnl3 {
      background-color:rgb(240,173,78);
   }
    .v-panel-content-pnl2 {
         background-color:rgb(217,83,79);
      }
       .btndeneme.v-button{
       border-color:#af36ff!important;
           color: white;
           background-image: none !important;
           background-color:#af36ff!important;


          }

          .btndeneme2.v-button{
                 border-color:#13ebff !important;
                     color: white;
                     background-image: none !important;
                     background-color:#13ebff!important;


                    }
       .v-panel-content-pnl1 {
            background-color:rgb(26,188,156);
         }
   .pnl1{
        position: absolute;
        margin-right: 0% !important;
        border-radius: 4px;
        border-color: rgb(26,188,156);
        margin-left: 55% !important;
        height: 15%;
        width: 25% !important;
   }
   div.v-slot.v-slot-altkisim{
              height: 100% !important;
              width:100%  !important;
          }
   .pnl2{
        position: absolute;
        border-radius: 4px;
        border-color: rgb(217,83,79);
        margin-left: 17% !important;
        height: 15%;
        width: 25% !important;
   }
   .pnl3{
           position: absolute;
           border-radius: 4px;
           border-color: rgb(240,173,78);
           margin-left: 34% !important;
           margin-top:10%;
           height:15%;
           width: 25% !important;
   }
    div.v-slot.v-slot-layout1{
           width: 24% !important;
       }
  .cv{
    border: 1px solid rgb(34,53,76);
    margin-left: 10%;
    width: 45% !important;
    height: 20%;
    font-family:verdana;

  }
  .v-gridlayout-slot{
    border: 1px solid rgb(34,53,76);
    width:100%;



  }




.gly {
    border: 1px solid rgb(34,53,76);


}


.labelanasayfa
{

    background: url("Img/anasayfabaslik.png") no-repeat;
    margin-left:25%;
    margin-top:1%;
}

.lblanasayfaarkaplan{
    background: url("Img/anasayfaarkaplan.png") no-repeat;



}
.lblsiyah{
font-family:verdana;
color:black;
}

.v-label.v-widget.lblanasayfaarkaplan.v-label-lblanasayfaarkaplan.v-has-width{

width:50%;
height:100%;
}




}